/*|| General Styles*/

/* Pallette colours
    #E0D8B0
    #FCFFE7
    #DEA057
    #CE9461



h1,
h2,
h3 {
    font-family: "Blanks Script Font";
    font-size: 200%;
}
*/

/*adds Blanks Script Font*/
@font-face {
    font-family: "Blanks Script Font";
    src: url(./BlanksscriptpersonaluseBdit-jEM6O.otf)
}

* {
    background-color: #FCFFE7;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*|| Link styles*/

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}
  /* visited link */
  a:visited {
    color: grey;
    text-decoration: none;
}
  /* mouse over link */
  a:hover {
    color: #0A5F6b;
    text-decoration: none;
}
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
}

/*|| Header Styles*/

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    border-bottom: 2px black solid;
}

header h1{
    font-size: 48px;
    display: flex;
    align-self: center;
    font-family: "Blanks Script Font";
}

/*|| Nave Bar Styles*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    list-style-type: none;
} 

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #E0D8B0;
}

nav a.active {
    background-color:#E0D8B0;
    color: black;
}

/*||Section & Article Styles*/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 2px black solid;
}

section h3 {
    font-family: "Blanks Script Font";
    font-size: 200%;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
    border-bottom: 2px black solid;
}

article h3 {
    font-family: "Blanks Script Font";
    font-size: 200%;
}

#spotify {
    width:50%;
    height: 500px;
    display: block;
    align-self: center;
}

/*|| Card Styles*/

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 2px black solid;
    border-right: 2px black solid;
    padding: 20px;
    margin: 20px;
    max-width: 250px;
}


.card img {
    max-width: 230px;
    max-height: 345px;
    justify-content: center;
}


/*||Footer Styles*/

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

footer p {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.contact-me {
    display: flex;
    justify-self: flex-start;
}

.contact-me ul, .contact-me li {
    display: flex;
    justify-self: flex-start;
    flex-direction: row;
    list-style-type: none;
    margin-left: 5px;
    padding: 0;
    overflow: hidden;
    
}

/*||Accessibility Styles*/

@media screen and (max-width=968px) {
    
}