/*|| General Styles*/

/* Pallette colours
    #E0D8B0
    #FCFFE7
    #DEA057
    #CE9461



h1,
h2,
h3 {
    font-family: "Blanks Script Font";
    font-size: 200%;
}
*/

/*adds Blanks Script Font*/
@font-face {
    font-family: "Blanks Script Font";
    src: url(./BlanksscriptpersonaluseBdit-jEM6O.otf);
    font-size: 200%;
}

* {
    background-color: #FCFFE7;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*|| Link styles*/

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}
  /* visited link */
  a:visited {
    color: grey;
    text-decoration: none;
}
  /* mouse over link */
  a:hover {
    color: #0A5F6b;
    text-decoration: none;
}
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
}

/*|| Header Styles*/

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    border-bottom: 2px black solid;
}

header h1{
    font-size: 48px;
    display: flex;
    align-self: center;
    font-family: "Blanks Script Font";
}

/*|| Nave Bar Styles*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    list-style-type: none;
} 

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #E0D8B0;
}

nav a.active {
    background-color:#E0D8B0;
    color: black;
}

/*||General Section Styles*/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 2px black solid;
}

section h3 {
    font-family: "Blanks Script Font";
    font-size: 200%;
}

/*changes the attributes of the spotify embed widget*/

#spotify {
    width:50%;
    height: 500px;
    display: block;
    align-self: center;
}

/*||General Article Styles*/

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: space-between;
    justify-content:flex-start;
    align-content: center;
    padding: 5px;
    padding-right: 10%;
    border-right: 2px solid black;
    max-width: 25%;
}

article h3 {
    font-family: "Blanks Script Font";
}



/*|| Form Styles*/

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: space-between;
    padding: 5px;
    padding-right: 10%;
    border-right: 2px solid black;
    max-width: 10%;
}

form ul {
    list-style-type: none;
}

form textarea {
border: 2px solid black;
resize:vertical;
}

/*|| Card Styles*/

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-right: 2px black solid;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 250px;
}


.card img {
    margin-top: 20px;
    max-width: 230px;
    max-height: 345px;
    justify-content: center;
}

.card:hover {
    background-color: #E0D8B0;
    padding: 5%;
}

.card:hover img,
.card:hover a,
.card:hover h3,
.card:hover p {
    background-color: #E0D8B0;
}

/*||Footer Styles*/

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

footer p {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.contact-me {
    display: flex;
    justify-self: flex-start;
}

.contact-me ul, .contact-me li {
    display: flex;
    justify-self: flex-start;
    flex-direction: row;
    list-style-type: none;
    margin-left: 5px;
    padding: 0;
    overflow: hidden;
    
}

/*||Accessibility Styles*/

@media screen and (max-width: 968px) {
    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px;
        border-bottom: 2px black solid;
    }
    
    header h1{
        font-size: 48px;
        display: flex;
        align-self: center;
        justify-self: center;
        font-family: "Blanks Script Font";
    }

    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        border-bottom: 2px black solid;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-self: space-between;
        justify-content:flex-start;
        align-content: center;
        padding: 5px;
        padding-right: 10%;
        border-right: 2px solid black;
        max-width: 25%;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-self: space-between;
        padding: 5px;
        padding-right: 10%;
        border-right: none;
        border-bottom: 2px solid black;
        max-width: 10%;
    }

    .card {
       border-bottom:2px solid black;
       border-right: none;
       padding: 0%
    }
}